/* Global */
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-X: hidden;
}
/* end global */

/* HEADER */
.myHeader{
    background-color: #4E2A84;
    color: white;
    /* padding: 20px 0; */
    position: fixed;
    z-index: 3;
    width: 100%;
}
.myHeader_content{
    height: 13vh;
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0 auto;
    align-items: center;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 34px;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 18px;
    transition: 1s all;
    font-size: 14px;
    transition: 0.3s all;
}

.nav_icon{
    background-color: #FF3296;
    border: 1px solid white;
    border-radius: 10%;
    display: none;
    cursor: pointer;
}
.nav_icon div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
}
.nav-links li a.active{
    color: #FF3296;
}
.nav-links li:hover a{
    color: #FF3296;
}
/* END HEADER */

/* COVER */
.myCover{
    background-image: url("../img/b3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    text-align: center;
    display: flex;
    align-items: center;
}
.myCover_content{
    margin: 0 auto;
    color: white;
}
.myCover_content h4{
    font-size: 40px;
}
.myCover_content p{
    margin: 30px 0;
}
.btn{
    color: white;
    background-color: #FF3296;
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s all;
    font-size: 14px;
}

.btn:hover{
    color: black;
    background-color: white;
    border: 1px solid #FF3296
}
/* end COVER */

/* INTRO */
.myIntro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto auto auto; */
}
.intro_item{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}
.intro_item_content{
    padding: 0 30px;
}
.intro_image{
    grid-column: 2/4;
}
.myIntro img{
    width: 100%;
    height: 100%;
    display: block;
}
.intro_tradition{
    background-color: #4E2A84;
}
.intro_creativity{
    background-color: #FF3296;
}
.intro_item h1{
    margin-bottom: 20px;
}
.intro_item p{
    line-height: 30px;
}

.intro_best{
    background-color: #ED6498;
    grid-column: 1/3;
}
.intro_quality{
    background-color: #836EAA;
}

.intro_image_4{
    grid-column: 3/5;
}
.intro_tasty{
    background-color: #4E2A84;
}
/* end INTRO */

/* STATICTIS */
.statictis_content{
    display: flex;
    justify-content: space-around;
}
.statics_content_item{
    text-align: center;
    padding: 90px;
}
.statics_content_item h2{
    font-size: 30px;
    color: #836EAA;
    font-weight: bold;
}
.statics_content_item p{
    font-weight: bold;
    margin-top: 8px;
}

/* END STATICTIS */
 
/* SERVICES */
.service{
    background-image: url("../img/s1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    text-align: center;
    padding: 30px;
}
.ourService h1{
    color:white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.Service_items{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.service_icon i{
    font-size: 60px;
    color: #4E2A84;
    transition: 0.5s all;

}
.service_icon{
    border: 1px solid #4E2A84;
    background-color: white;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}
.Service_item_content h2{
    margin: 15px 0;
}
.Service_item_content p{
    line-height: 30px;
    margin-bottom: 30px;
}
.Service_item_content:hover i{
    color: #FF3296;
}

/* END SERVICES */

/* Gallery */
.myGallery h1{
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}
.myGallery .gallery_content{
    width: 98%;
    margin: auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.myGallery img{
    width: 100%;
    height: 100%;
}

.item_1{
    grid-column: 1/span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span :1;
    /* margin-right: 30px; */
}
.item_2{
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    /* margin-right: 30px; */
    -ms-grid-row: 1;
    -ms-grid-row-span :1;
}
.item_3{
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span :1;
}
.item_4{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span :1;
}
.item_5{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span :1;
}
.item_6{
    grid-column: 3/span 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span :1;
}

.myGallery .gallery_item{
    position: relative;
    background: #3085a3;
}

.gallery_item img{
    opacity: 0.8;
    display: block;
}

.gallery_item .item_content{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 60px;
    left: 10%;
    text-align: right;
    z-index: 2;
}

.item_content .underline{
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 6%;
    transition: 0.4s all;
    opacity: 0;
}

.item_content p:first-child{
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 30px;
    transition: 0.4s all;
}

.item_content p:last-child{
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 40px;
    right: 30px;
    opacity: 0;
    transition: 0.4s all;
}

.item_content p:first-child span{
    font-weight: bold;
}

.gallery_item:hover .item_content p:first-child{
    top: -20px;
}

.gallery_item:hover .underline{
    top: 30px;
    opacity: 1;
}

.gallery_item:hover .item_content p:last-child{
    bottom: 60px;
    opacity: 1;
}





/* end Gallery */


/* Team */
.myTeam{
    background-color: #4E2A84;
    margin-top: 30px;
    padding: 30px 0;
}

.myTeam .myTeam_title{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.myTeam_person{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 80%;
    margin: auto;
}

.myTeam img{
    width: 100%;
    height: 1005;
    display: block;
}

.myTeam_item{
    position: relative;
}

.myTeam_item .item_content{
    position: absolute;
    bottom: 0;
    background-color: #FF3296;
    color: white;
    width: 100%;
    padding: 30px;
}

.overlay{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    color: white;
    padding: 70px 30px;
    opacity: 0;
    transition: 1s all;
}

.overlay h4{
    color: #ED6498;
    font-size: 20px;
    margin-bottom: 20px;
}

.overlay p:nth-child(2){
    margin-bottom: 20px;
}

.overlay p:nth-child(3){
    line-height: 30px;
}

.button_social{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.btn_item{
    border: 1px solid white;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    transition: 0.8s all
}

.btn_item i{
    line-height: 40px;
}
.btn_item a{
    color: white;
    transition: 0.8s all
}

.btn_item:hover{
    border-color: #FF3296;

}

.btn_item:hover a{
    color: #FF3296;
}

.myTeam_item:hover .item_content{
    opacity: 0;
}

.myTeam_item:hover .overlay{
    opacity: 1;
}
/* end Team */


/* myTestimonials */
.myTestimonials{
    background-image: url('../img/cc1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0;
}

.myTestimonials h1{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

.testi_content{
    width: 80%;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid #FF3296;
    padding: 20px 40px;
    text-align: center;
}

.testi_content i{
    color: blue;
    font-size: 30px;
    margin: 0 10px;

}

.testi_content p:last-child{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}



/* End myTestimonials */

/* Contact */
.contact h1{
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
}
.contactForm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:80%;
    margin: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.message{ 
    grid-column: 1/span 2;
}
.submit{
    grid-column: 1/span 2;
}
.contactForm input,.contactForm textarea, .contactForm button{
    width:100%;
}
.contactForm input, .contactForm textarea{
    padding: 20px;
    border:1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn_submit{
    background-color: #FF3296;
    padding: 10px 0;
    border: none;
    font-size: 20px;
    transition: 0.5s all;

}
.btn_submit:hover{
    background-color: black;
    color: white;
}

.map{
    padding: 50px 10px;
}
.map iframe{
    width: 100%;
    height: 400px;
}

.contact_info{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.contact_item i{
    font-size: 40px;
    color: #4e2a84
}

.contact_item p, span{
    font-size: 18;
    margin: 20px 0;
    letter-spacing: 3px;
}


/* End Contact */


/* About us */

.aboutUs{
    background-color: black;
    color: white;
}
.aboutUs_content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;

}
.aboutUs_item{
    padding: 30px;
    width: 25%;
}

.aboutUs_item1 .about,.aboutUs_item2 h4, .aboutUs_item3 h4, .aboutUs_item4 h4{
    color: #ff0e83;
    font-size: 23px;
    text-decoration: none;
}

.aboutUs_item1 p{
    line-height: 28px;
    font-size: 14px;
    padding: 15px 0;
    letter-spacing: 1px
}

.about_social{
    margin-top: 15px;
}
.about_social a{
    text-decoration: none;
    padding: 5px;
}
.about_social i{
    border: 1px solid white;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    transition: 0.5s all;
    color: white
}

.about_social i:hover {
    color: #ff0e83;
    border: 1px solid #ff0e83;
}

.aboutUs_item2 li{
    border-bottom: 1px white dotted;
    padding: 10px 0;
    list-style-type: none;
    display: flex;
    font-size: 14px;

}

.time_list{
    margin: 0;
    margin-left: auto;
}

.aboutUs_item3 p{
    padding: 15px 0;
}

.aboutUs_item4 input{
    width: 75%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 14px;
    outline: none
}
.form-group{
    padding: 15px 0;
}

.aboutUs_item4 button{
    color: black;
    background: #ff0e83;
    padding: 10px 25px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin-bottom: 25px;
    transition: 0.5s all;
}

.aboutUs_item4 button:hover{
    background-color: white;
}
.aboutUs_item4 p{
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

.designBy{
    text-align: center;
    padding: 30px 0;
}

.designBy a{
    color: #ff0e83;
    text-decoration: none;
    transition: 0.5s all;

}

.designBy a:hover{
    color: white;
}

@media screen and (max-width: 991px) {

    .myHeader_content{
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;
    }
    
    .nav-links{
       position: absolute;
       right: 0px;
       height: 57vh;
       top: 13vh;
       display: flex;
       flex-direction: column;
       background-color: #4E2A84;
       width: 100%;
       justify-content: space-around;
       align-items: center;
       transition: transform 0.4s ease-in;
       opacity: 0;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav_icon{
        display: block
    }
    .nav-links li a.active{
        color: white;
    }
    .nav-links li:hover a{
        color: #FF3296;
    }

    .myIntro{
        display: flex;
        flex-direction: column;
    }

    .intro_item_content{
        padding: 20px;
    }

    .statictis_content{
        flex-wrap: wrap;

    }

    .static_item{
        width: 50%;
    }

    .Service_items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service_icon{
        border: 1px solid #4E2A84;
        background-color: white;
        padding: 10px;
        width: 79px;
        height: 79px;
        border-radius: 50%;
        margin: auto;
    }


    .Service_item_content{
        margin-bottom: 30px;
    }

    .gallery_content{
        display: flex!important;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .gallery_item{
        padding-bottom: 20px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: white!important;
        
    }

    .myTeam_person{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 20px;
        
        width: 50%;
        
    }

    .myTeam_item{
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
    .overlay{
        height: 100%;
        padding: 0 20px;
        padding-top: 30px;
        font-size: 14px;
    }

    .contactForm{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .input_form{
        margin-bottom: 10px;
    }

    .contact_info{
        display: flex;
        flex-direction: column;
    }
    .contact_item{
        margin-bottom: 20px;
    }
    .aboutUs_content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .aboutUs_item{
        margin: 20px 0;
        width: 100%;
        padding: 0 0;
    }
}
.nav-active{
    animation: navFadeOut 0.5s none 0s linear;
    opacity: 1;
}

@keyframes navFadeOut{
    0%{
        transform: rotate(xx);
        height: 13vh;
        }
    100%{
        transform: rotate(xx);
        height: 57vh;
        }
}



